.default {
    padding: 12px;

    width: 48px;
    height: 48px;
}

.defaultTall {
    padding: 8px;

    width: 48px;
    height: 48px;
}

.small {
    padding: 0;
    width: 24px;
    height: 24px;
}
