.TopBar {
    padding: 8px 4px;

    background-color: var(--md-sys-color-surface-dark);

    width: 100%;

    gap: 4px;
    align-items: center;
}

.title {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.actions {
}

.action {
}

.actionIcon {
}

.pined {
    color: var(--md-sys-color-primary-dark);
}

.deleted {
    color: var(--md-sys-color-error-dark);
}
